body {
    background-color: black;
}

#main-head {
    text-align: center;
    color: gold;
    background: maroon;
}

h2 {
    color: gold;
    text-align: center;
    padding: 5px;
}

p {
    color: gold;
    text-align: center;
    padding: 5px;
}

ul {
    color: gold;
    
}

a {
    color: gold;
}

